.population-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.population-table th,
.population-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.population-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.population-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.heading {
  text-align: center;
  font-size: 2em;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.title {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.body-text {
  font-size: 1em;
}

.title span {
  font-size: small;
  color: blue;
  
  text-align: center;
}

.sort-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1em;
}

.list .more-info {
  font-size: small;
  color: blue;
  text-decoration: underline;
  display: block;
  
  text-align: center;
}

